$color-accent-blue: #3546AB;
$color-accent-secondary-blue: #F7F9FE;
$color-accent-orange: #F0582E;
$color-accent-secondary-orange: #FEEEEA;
$color-accent-yellow: #FABC65;
$color-accent-secondary-yellow: #FFF7EC;
$color-accent-green: #3ED08A;
$color-accent-secondary-green: #E1FFF1;

$color-text-primary: #0D155B;
$color-text-secondary: #71769E;

$color-bg: #C7CCD1;
$color-bg-light: #F7F9FE;

$font-100: 0.7059rem;
$font-200: 0.8235rem;
$font-300: 1rem;
$font-400: 1.176rem;
$font-500: 1.882rem;
$font-600: 2.118rem;
$font-700: 4rem;

$grid-columns: 12 !default;
$grid-rows: 6 !default;
$grid-gap: 15px !default;
$grid-row-height: 50px !default;
$grid-auto-layout: true !default;

$grid-breakpoints: (
  sm: 560px,
  md: 768px,
  lg: 1200px,
  xl: 1920px
) !default;
